# Gradle
.gradle/
build/
**/build/

# Kotlin compiler sessions
kotlin/sessions/

# IntelliJ / Android Studio
.idea/
*.iml

# APKs
*.apk
*.ap_

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
/.kotlin
